/*created in command line*/
/*this is a catch all for different element types*/
img, embed, object, video{
	max-width: 100%; /*this is a catch all reccomend by google developer advocate*/
}

body{
	background: #6190E8; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #6190E8 , #A7BFE8); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #6190E8 , #A7BFE8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: Roboto;  
}

h1{
	height: 95%;
	background: #2980b9;
	color: #fff;
	margin: 0; /*no margin all around*/
	padding: 10px 20px;
	text-transform: uppercase;
	font-size: 24px;
	font-weight: 400; /*this is a normal font weight*/
}

button{
	width: 100%;
	float: left;
	height: 95%;
}

input{
	color: #2980b9;
	width: 100%;
	font-size: 18px;
	background: #f7f7f7;
	margin: 0; /*no margin all around*/
	padding: 13px 13px 13px 20px;
	box-sizing: border-box;/*need to add browser specific support for this attribute*/
	border: 3px solid rgba(0,0,0,0); /*this creates an invisible border that keeps the input flush*/
}

input:focus{
	background: #fff;
	border: 3px solid #2980b9;
	outline: none;
}


ul{
	list-style: none; /*this eliminates the bullet points*/
	margin: 0;
	padding: 0;
}

li{
	background: #fff;
	height: 40px;
	line-height: 40px;
	color: #666;
	/*padding-left: 20px;*/
}

li:nth-child(2n){
	background: #f7f7f7;
}

li:hover span{
	width: 40px;
	opacity: 1.0;
}

span{
	background: #e74c3c;
	height: 40px;
	margin-right: 20px;
	color: #fff;
	width: 0;
	display: inline-block;
	text-align: center;
	transition: 0.3s linear; /*this property affects the opacity as well as the "movement" of the opbject*/
	opacity: 0;
}

.fa-plus{
	float: right;
}

.completed{
	color: gray;
	text-decoration: line-through;
}

#container{
	width: 33%;
	margin: 100px auto;
	background: #f7f7f7;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.1); /*this gives the container a shawdow effect*/
}



@media only screen and (max-width: 1024px){
	#container{
		width: 50%;
	}
}

@media only screen and (max-width: 900px){
	#container{
		width: 60%;
	}
}

@media only screen and (max-width: 800px){
	#container{
		width: 75%;
	}
}

@media only screen and (max-width: 600px){
	#container{
		width: 95%;
	}
}

/*working verison*/

